<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Creator Videos</title>
</head>
<body>
<h2>Creator Videos</h2>
<table border="1">
  <tr>
    <td></td>
    <td>Title</td>
    <td>Description</td>
    <td>PublishedAt</td>
    <td>VideoId</td>
  </tr>
  <tr th:each="video : ${videos}" >
    <td><img th:src="${video.thumbnail}" alt="thumbnail" width="320px"/></td>
    <td th:text="${video.title}"></td>
    <td th:text="${video.description}"></td>
    <td th:text="${video.publishedAt}"></td>
    <td th:text="${video.videoId}"></td>
  </tr>
</table>
</body>
</html>