<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
  <link href="../static/css/output.css" rel="stylesheet">
</head>
<body>
  <div class="flex justify-center">
    <div class="w-11/12 h-screen">
      <div class="mt-5 sticky top-0 bg-gradient-to-b from-white from-90% to-white/0">
        <div class="space-y-5 py-4">
          <div class="flex space-x-2">
            <div class="w-1/4">
              <img class="rounded" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
            </div>
            <div class="w-3/4">
              <div>
                <h5 class="text-sm text-stone-700">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between py-2">
        <div class="flex items-center space-x-2">
          <span class="text-lg font-bold">Comments</span>
          <span class="text-sm text-stone-500">126</span>
        </div>
        <div class="py-1 px-3.5 rounded-full bg-white cursor-pointer">
          <svg class="w-7 stroke-1 stroke-stone-500 fill-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>
          </svg>
        </div>
      </div>
      <div class="comment-list divide-y border-t h-full">
        <div class="comment-item flex space-x-2 pt-3 pb-5">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <p class="font-bold text-xs">Krisan dany</p>
            <pre class="text-sm">안녕하세요
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-5">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <p class="font-bold text-xs">Krisan dany</p>
            <pre class="text-sm">안녕하세요
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-5">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <p class="font-bold text-xs">Krisan dany</p>
            <pre class="text-sm">안녕하세요
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-5">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <p class="font-bold text-xs">Krisan dany</p>
            <pre class="text-sm">안녕하세요
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-5">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <p class="font-bold text-xs">Krisan dany</p>
            <pre class="text-sm">안녕하세요
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-5">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <p class="font-bold text-xs">Krisan dany</p>
            <pre class="text-sm">안녕하세요
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
          </div>
        </div>

      </div>
      <div class="sticky pb-4 w-full bottom-0">
        <div class="flex justify-end">
          <div class="rounded-full p-5 bg-violet-600 text-white drop-shadow-lg cursor-pointer">
            <svg class="w-6 stroke-white fill-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>