<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
  <link href="../static/css/output.css" rel="stylesheet">
</head>
<body>
  <div class="flex justify-center">
    <div class="w-11/12">
      <div class="mt-5 sticky top-0 bg-gradient-to-b from-white from-80% to-white/0 py-3">
        <div class="flex space-x-2">
          <div class="w-1/4">
            <img class="rounded" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
          </div>
          <div class="w-3/4">
            <div>
              <h5 class="text-sm text-stone-700">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="comment-list divide-y">
          <div class="comment-item flex space-x-2 pt-3 pb-5">
            <div class="w-1/6">
              <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
            </div>
            <div class="text-left">
              <pre class="text-sm">sfdfsdfsfdsfsfsdf
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
            </div>
          </div>
          <div class="comment-item flex space-x-2 pt-3 pb-5">
            <div class="w-1/6">
              <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
            </div>
            <div class="text-left">
              <pre class="text-sm">sfdfsdfsfdsfsfsdf
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
            </div>
          </div>
          <div class="comment-item flex space-x-2 pt-3 pb-5">
            <div class="w-1/6">
              <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
            </div>
            <div class="text-left">
              <pre class="text-sm">sfdfsdfsfdsfsfsdf
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
            </div>
          </div>
          <div class="comment-item flex space-x-2 pt-3 pb-5">
            <div class="w-1/6">
              <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
            </div>
            <div class="text-left">
              <pre class="text-sm">sfdfsdfsfdsfsfsdf
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
            </div>
          </div>
          <div class="comment-item flex space-x-2 pt-3 pb-5">
            <div class="w-1/6">
              <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
            </div>
            <div class="text-left">
              <pre class="text-sm">sfdfsdfsfdsfsfsdf
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
            </div>
          </div>
          <div class="comment-item flex space-x-2 pt-3 pb-5">
            <div class="w-1/6">
              <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
            </div>
            <div class="text-left">
              <pre class="text-sm">sfdfsdfsfdsfsfsdf
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
            </div>
          </div>
          <div class="comment-item flex space-x-2 pt-3 pb-5">
            <div class="w-1/6">
              <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
            </div>
            <div class="text-left">
              <pre class="text-sm">sfdfsdfsfdsfsfsdf
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
            </div>
          </div>
          <div class="comment-item flex space-x-2 pt-3 pb-5">
            <div class="w-1/6">
              <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
            </div>
            <div class="text-left">
              <pre class="text-sm">sfdfsdfsfdsfsfsdf
dsfsdf
dfsdjflfj
sadfasfwewefww</pre>
            </div>
          </div>
        </div>
      </div>
      <div class="sticky bottom-0 pb-3">
        <div class="flex justify-end w-full">
          <button class="rounded-full p-4 bg-violet-600 text-white drop-shadow-lg">Filter</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>