<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
  <link href="../static/css/output.css" rel="stylesheet">
</head>
<body>
  <div class="flex justify-center">
    <div class="w-11/12 h-screen">
      <div class="mt-5 sticky top-0 bg-gradient-to-b from-white from-90% to-white/0">
        <div class="space-y-5 py-4">
          <div class="flex space-x-2">
            <div class="w-1/4">
              <img class="rounded" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
            </div>
            <div class="w-3/4">
              <div>
                <h5 class="text-sm text-stone-700 break-all line-clamp-2">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between py-2">
        <div class="flex items-center space-x-2">
          <span class="text-xl font-bold">Comments</span>
          <span class="text-sm text-stone-500 break-all line-clamp-1">126</span>
        </div>
        <div id="filter-drawer-button" class="py-1 px-3.5 rounded-full bg-white cursor-pointer" type="button" data-drawer-target="filter-drawer" data-drawer-show="filter-drawer" data-drawer-placement="bottom" aria-controls="filter-drawer">
          <svg class="w-7 stroke-1 stroke-stone-500 fill-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>
          </svg>
        </div>
      </div>
      <div class="comment-list divide-y border-t h-full w-full">
        <div class="comment-item flex space-x-2 pt-3 pb-4">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <h5 class="font-bold text-xs truncate text-ellipsis">Krisan dany</h5>
            <span class="text-sm pr-1 whitespace-pre-line break-all line-clamp-5">안녕하세요</span>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-4">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <h5 class="font-bold text-xs truncate text-ellipsis">Krisan dany</h5>
            <div class="text-sm pr-1 whitespace-pre-line break-all line-clamp-5">Hey everyone!
              It's almost 2022       and we still don't know if there       is aliens living among us, or do we? Maybe the person writing this is an alien.
              You will never know.</div>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-4">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <h5 class="font-bold text-xs truncate text-ellipsis">Krisan dany</h5>
            <div class="text-sm pr-1 whitespace-pre-line break-all line-clamp-5">Hey everyone!
              It's almost 2022       and we still don't know if there       is aliens living among us, or do we? Maybe the person writing this is an alien.
              You will never know.</div>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-4">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <h5 class="font-bold text-xs truncate text-ellipsis">Krisan dany</h5>
            <div class="text-sm pr-1 whitespace-pre-line break-all line-clamp-5">Hey everyone!
              It's almost 2022       and we still don't know if there       is aliens living among us, or do we? Maybe the person writing this is an alien.
              You will never know.</div>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-4">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <h5 class="font-bold text-xs truncate text-ellipsis">Krisan dany</h5>
            <div class="text-sm pr-1 whitespace-pre-line break-all line-clamp-5">Hey everyone!
              It's almost 2022       and we still don't know if there       is aliens living among us, or do we? Maybe the person writing this is an alien.
              You will never know.</div>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-4">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <h5 class="font-bold text-xs truncate text-ellipsis">Krisan dany</h5>
            <div class="text-sm pr-1 whitespace-pre-line break-all line-clamp-5">Hey everyone!
              It's almost 2022       and we still don't know if there       is aliens living among us, or do we? Maybe the person writing this is an alien.
              You will never know.</div>
          </div>
        </div>
        <div class="comment-item flex space-x-2 pt-3 pb-4">
          <div class="w-1/6">
            <img class="rounded-full" src="https://yt3.ggpht.com/ytc/AGIKgqOprUh0wZXD9jGL_W96CHKmDfD1jxjMJx4KvSZtVVFLdeAdMQUJT75THFKLul-z=s48-c-k-c0x00ffffff-no-rj" alt="prf" />
          </div>
          <div class="w-5/6 space-y-1 text-left">
            <h5 class="font-bold text-xs truncate text-ellipsis">Krisan dany</h5>
            <div class="text-sm pr-1 whitespace-pre-line break-all line-clamp-5">Hey everyone!
              It's almost 2022       and we still don't know if there       is aliens living among us, or do we? Maybe the person writing this is an alien.
              You will never know.</div>
          </div>
        </div>

      </div>
      <div class="sticky pb-4 w-full bottom-0">
        <div class="flex justify-end">
          <div class="rounded-full p-5 bg-violet-600 text-white drop-shadow-lg cursor-pointer" data-drawer-target="custom-filter-drawer" data-drawer-show="custom-filter-drawer" data-drawer-placement="bottom" aria-controls="custom-filter-drawer">
<!--            <svg class="w-6 stroke-white fill-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">-->
<!--              <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>-->
<!--            </svg>-->
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16">
              <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </div>
        </div>
      </div>

      <!-- custom drawer component -->
      <div id="custom-filter-drawer" class="fixed bottom-0 left-0 right-0 z-40 w-full overflow-y-auto transition translate-y-full duration-300" tabindex="-1" aria-labelledby="custom-filter-drawer-label">
        <div class="m-2.5 mb-10 bg-transparent space-y-2.5 text-center">
          <div class="w-full bg-white rounded-xl overflow-hidden">
            <div class="divide-y">
              <div class="p-4">
                <span id="custom-filter-drawer-label" class="text-sm text-stone-500 font-light">Now filtering..</span>
              </div>
              <div class="py-4 px-2">
                <div class="space-y-4">
                  <div class="flex items-center">
                    <label for="filter"></label>
                    <input id="filter" name="filter" class="w-full py-4 pl-8 pr-2 bg-gray-100 text-xs text-black placeholder-stone-400 rounded-xl border border-violet-600 focus:border-violet-500 focus:ring-violet-500" type="text" placeholder="Show comments under 10 chars" />
                    <svg class="absolute left-5 w-8 h-8 p-1 stroke-stone-700 fill-none" xmlns="http://www.w3.org/2000/svg" width="32" height="32" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                      <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>
                    </svg>
                  </div>
                  <div class="w-full space-y-2">
                    <div class="flex p-3 bg-violet-100 text-violet-500 rounded-xl">
                      <span class="w-full pr-5 text-xs break-all line-clamp-1">comment includes swear</span>
                      <svg class="absolute right-6 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </div>
                    <div class="flex p-3 bg-violet-100 text-violet-500 rounded-xl">
                      <span class="w-full pr-5 text-xs break-all line-clamp-1">comment includes swearaaaaaaaaaaaaaaaaaaaaaaaaaaaabbb</span>
                      <svg class="absolute right-6 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full bg-white rounded-xl overflow-hidden">
            <div class="p-4 ease-in-out duration-500 hover:bg-gray-100">
              <div id="custom-filter-drawer-closer" class="w-full text-violet-500" type="button" data-drawer-hide="custom-filter-drawer" aria-controls="custom-filter-drawer">Confirm</div>
            </div>
          </div>
        </div>
      </div>

      <!-- filter drawer component -->
      <div id="filter-drawer" class="fixed bottom-0 left-0 right-0 z-40 w-full overflow-y-auto transition translate-y-full duration-300" tabindex="-1" aria-labelledby="filter-drawer-label">
        <div class="m-2.5 mb-10 bg-transparent space-y-2.5 text-center">
          <div class="w-full bg-white rounded-xl overflow-hidden">
            <div class="divide-y">
              <div class="p-4">
                <span id="filter-drawer-label" class="text-sm text-stone-500 font-light">Now filtering..</span>
              </div>
              <div class="p-4 flex ease-in-out duration-500 hover:bg-gray-100">
                <input id="check1" class="absolute w-6 h-6 text-violet-500 bg-gray-200 border-none rounded-full focus:ring-transparent" type="checkbox" />
                <label for="check1" class="w-full">Spam</label>
              </div>
              <div class="p-4 flex ease-in-out duration-500 hover:bg-gray-100">
                <input id="check2" class="absolute w-6 h-6 text-violet-500 bg-gray-200 border-none rounded-full focus:ring-transparent" type="checkbox" />
                <label for="check2" class="w-full">Abuse</label>
              </div>
              <div class="p-4 flex ease-in-out duration-500 hover:bg-gray-100">
                <input id="check3" class="absolute w-6 h-6 text-violet-500 bg-gray-200 border-none rounded-full focus:ring-transparent" type="checkbox" />
                <label for="check3" class="w-full">Hate speech</label>
              </div>
            </div>
          </div>
          <div class="w-full bg-white rounded-xl overflow-hidden">
            <div class="p-4 ease-in-out duration-500 hover:bg-gray-100">
              <div id="filter-drawer-closer" class="w-full text-violet-500" type="button" data-drawer-hide="filter-drawer" aria-controls="filter-drawer">Confirm</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script src="../../../../node_modules/flowbite/dist/flowbite.min.js"></script>
<!--  <script src="../static/js/flowbite.min.js"></script>-->
</body>
</html>