<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
</head>
<body>
<form method="get" action="/search/comment">
  <div>
    <label for="video">Comment Search</label>
    <input id="video" name="video" type="text" />
    <input id="video-btn" type="submit" value="Search" />
  </div>
</form>
</body>
</html>
