<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
  <link href="/css/output.css" rel="stylesheet">
</head>
<body>
<form method="post" action="/search/start">
<div class="flex justify-center justify-items-stretch">
  <div class="flex flex-col justify-center h-screen w-4/5 justify-items-stretch">
    <div class="my-20 w-full">
      <p class="text-3xl font-bold text-center">Continue with this<br/> channel?</p>
    </div>
    <div class="my-20 w-full h-16">
      <div class="flex">
        <div class="w-1/5">
          <img th:src="${profile.url}" alt="logo"/>
        </div>
        <div class="w-4/5">
          <div class="pl-2">
            <h5 class="font-bold truncate text-ellipsis" th:text="${profile.title}"></h5>
          </div>
          <div class="flex space-x-2 pl-2">
            <p class="text-xs text-stone-500" >채널 개설일: <span th:text="${profile.publishedAt}"></span></p>
          </div>
          <div class="pl-2">
            <p class="text-xs text-stone-500 truncate text-ellipsis" th:text="${profile.description}"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="my-20 w-full flex justify-center">
      <div class="flex flex-col justify-center w-4/5 text-center">
        <input hidden="hidden" type="text" name="creatorId" th:value="${profile.channelId}">
        <button class="rounded-full p-3.5 bg-violet-600 text-white shadow-none hover:shadow-md hover:shadow-violet-300/50">Continue</button>
        <a href="/" class="mt-7 text-violet-500/90 font-bold">No, bring me back</a>
      </div>
    </div>
  </div>
</div>
</form>
</body>
</html>