<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
  <link href="/css/output.css" rel="stylesheet">
</head>
<body>
  <div class="flex justify-center">
    <div class="w-11/12">
      <div class="sticky top-0 bg-gradient-to-b from-white from-80% via-white/80 via-90% to-white/0 py-1">
        <div class="space-y-2 my-5">
          <div>
            <h1 class="text-3xl font-bold">Search videos</h1>
          </div>
          <div>
            <p>Find a video to browse comments</p>
          </div>
        </div>
        <div class="my-5">
          <form method="get" action="/search/creator">
            <label class="relative block">
              <input class="text-lg pl-14 bg-gray-50 border border-violet-600 rounded-lg block text-black w-full p-2.5 shadow-md shadow-violet-300/50 focus:shadow-stone-400/50 focus:ring-violet-500 focus:outline-none" id="video" name="video" type="text" placeholder="Search video with title" />
              <svg class="w-8 h-8 p-0.5 pt-1.5 stroke-stone-700 fill-stone-700 absolute top-1/2 transform -translate-y-1/2 left-3 flex flex-col justify-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" stroke-width="0.1" viewBox="0 0 16 16" stroke-linecap="round" stroke-linejoin="round">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </label>
          </form>
        </div>
      </div>

      <div class="mb-8">
        <div class="video-list space-y-3 overflow-y-scroll">
          <div class="video-item" th:each="video : ${videos}">
            <a th:href="|/search/comment?video=${video.videoId}&title=${video.title}&thumbnail=${video.thumbnail}|">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" th:src="${video.thumbnail}" alt="thumbnail" />
                </div>
                <div class="flex flex-col justify-between w-1/2">
                  <div>
                    <h5 class="text-sm" th:text="${video.title}">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500 truncate text-ellipsis" th:text="${video.description}">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="pb-1.5 text-xs text-stone-500" th:text="${video.publishedAt}"></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>