<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
  <link href="../static/css/output.css" rel="stylesheet">
</head>
<body>
  <div class="flex justify-center">
    <div class="w-11/12">
      <div class="sticky top-0 bg-gradient-to-b from-white from-80% via-white/80 via-90% to-white/0 py-1">
        <div class="space-y-2 my-5">
          <div>
            <h1 class="text-3xl font-bold">Search videos</h1>
          </div>
          <div>
            <p>Find a video to browse comments</p>
          </div>
        </div>
        <div class="my-5">
          <form method="get" action="/search/creator">
            <label class="relative text-gray-400 focus-within:text-gray-600 block">
              <input class="text-md bg-gray-50 border border-violet-600 rounded-lg block text-black w-full p-2.5 shadow-md shadow-violet-300/50 focus:shadow-stone-400/50 focus:ring-violet-500 focus:outline-none" id="creator" name="creator" type="text" placeholder="Search video with title" />

            </label>
          </form>
        </div>
      </div>

      <div class="mb-8">
        <div class="video-list space-y-3 overflow-y-scroll">
          <div class="video-item">
            <a href="#">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
                </div>
                <div class="w-1/2">
                  <div>
                    <h5 class="text-sm">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">. 3개월 전</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="video-item">
            <a href="#">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
                </div>
                <div class="w-1/2">
                  <div>
                    <h5 class="text-sm">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">. 3개월 전</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="video-item">
            <a href="#">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
                </div>
                <div class="w-1/2">
                  <div>
                    <h5 class="text-sm">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">. 3개월 전</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="video-item">
            <a href="#">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
                </div>
                <div class="w-1/2">
                  <div>
                    <h5 class="text-sm">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">. 3개월 전</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="video-item">
            <a href="#">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
                </div>
                <div class="w-1/2">
                  <div>
                    <h5 class="text-sm">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">. 3개월 전</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="video-item">
            <a href="#">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
                </div>
                <div class="w-1/2">
                  <div>
                    <h5 class="text-sm">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">. 3개월 전</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="video-item">
            <a href="#">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
                </div>
                <div class="w-1/2">
                  <div>
                    <h5 class="text-sm">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">. 3개월 전</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="video-item">
            <a href="#">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
                </div>
                <div class="w-1/2">
                  <div>
                    <h5 class="text-sm">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">. 3개월 전</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="video-item">
            <a href="#">
              <div class="flex space-x-2">
                <div class="w-1/2 rounded-lg">
                  <img class="rounded-lg" src="https://i.ytimg.com/vi/EnccIUtjLvo/maxresdefault.jpg" alt="thumbnail" />
                </div>
                <div class="w-1/2">
                  <div>
                    <h5 class="text-sm">귀찮음 끝, 프리미엄 시작 | 내 맘처럼 무한 추천해주는 YouTube Music</h5>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">조회수 10만회</p>
                  </div>
                  <div>
                    <p class="text-xs text-stone-500">. 3개월 전</p>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>